/******************************** Font  */

@import url(https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Eater);

h1, h2 {
	font-family: Eater;
}

p {
	font-family: "East Sea Dokdo";
	font-size: 37px;
	margin: 10px 10px;
}

#overlay-play-button {
	font-family: Eater;
}

/********************************  */

body {
	background-color: #E2DEE5;
	text-align: center;
}

button {
	transition-property: background-color;
  	transition-duration: 750ms;
}

button:hover {
	background-color: #b2e7e9;
}

/******************************** Left Column Grid */

.left-column {
	grid-area: left-column; 
	/* height: 100%;
	width: 100%; */
	align-items: baseline;
	justify-items: center;
	align-content: center;
	display: grid; 
	gap: 0px 0px; 
	grid-template-areas: 
		"instructions-title"
		"instructions"
		"leaderboard";
}

.instructions-title { 
	grid-area: instructions-title; 
}

.instructions { 
	grid-area: instructions; 
}

.play-button-div { 
	grid-area: play-button-div; 
	margin: 10px 5px;
}

.pause-button-div { 
	grid-area: pause-button-div; 
	margin: 10px 5px;
}

.restart-button-div { 
	grid-area: restart-button-div; 
	margin: 10px 5px;
}

/******************************** Central Grid layout  */

.container { 
	height: 96vh;
	width: 98vw;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 0.5fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"left-column title right-column"
		"left-column brain right-column"
		"left-column brain right-column";
}

.title {
	grid-area: title;
}

#title-o {
	width: 40px;
	height: auto;
}

.brain-image {
	z-index: -5;
}

.brain {  
	background-image: url("../images/brain.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: grid; 
	grid-template-columns: 1fr 1.5fr 1fr; 
	grid-template-rows: 1.25fr 2.5fr 1.75fr; 
	gap: 0px 0px; 
	grid-template-areas: 
		". . ."
		". worm-box ."
		". . ."; 
	grid-area: brain;
}

.worm-box {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". fear ."
    "shame . shyness"
    ". embarrassment ."
    "anxiety . dread"; 
  grid-area: worm-box; 
  cursor: pointer;
}

/******************************** Worms  */

.fear { 
	grid-area: fear; 
	background-image: url("../images/fear-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-y: 81px;
}

.shame { 
	grid-area: shame; 
	background-image: url("../images/shame-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-y: 81px;
}

.shyness { 
	grid-area: shyness;
	background-image: url("../images/shy-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-y: 81px;
}

.embarrassment { 
	grid-area: embarrassment;
	background-image: url("../images/embarrassed-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-y: 81px;
}

.anxiety { 
	grid-area: anxiety;
	background-image: url("../images/anxious-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-y: 81px;
}

.dread { 
	grid-area: dread; 
	background-image: url("../images/dread-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position-y: 81px;
}

/******************************** Overlays  */

.overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; 
	width: 50%; /* Full width (cover the whole page) */
	height: 50%; /* Full height (cover the whole page) */
	background-color: whitesmoke; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	border: 4px solid black;
}

#leaderboard-overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; 
	width: 50%; 
	height: 50%; 
	background-color: whitesmoke; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	border: 4px solid black;
}

.ok-button, #smash-button, #overlay-play-button, #leaderboard-button {
	background-color:  rgba(255, 255, 255, 0.5);
	transition-property: background-color;
  	transition-duration: 750ms;
}

.ok-button:hover, #smash-button:hover, #overlay-play-button:hover, #leaderboard-button:hover {
	background-color: #b2e7e9;
}

#pow {
	background-image: url("../images/pow.webp");
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed; /* Sit on top of the page content */
	display: none; 
	width: 25%; /* Full width (cover the whole page) */
	height: 25%; /* Full height (cover the whole page) */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

/******************************** Animation */

.slide {
	background-position-y: 81px;
	animation-name: slide;
	animation-duration: 2s;
	animation-iteration-count: 1;
	cursor: pointer;
  }

  @keyframes slide {
	0% {
	  background-position-y: 81px;
	}
	50% {
	  background-position-y: 0px;
	}
	100% {
	  background-position-y: 81px;
	}
  }

/******************************** Right column Grid */

.right-column { 
	grid-area: right-column; 
	/* height: 100%;
	width: 100%; */
	align-items: baseline;
	justify-items: center;
	align-content: center;
	display: grid; 
	gap: 0px 0px; 
	grid-template-areas: 
		"timer-name"
		"counter-class"
		"score-word"
		"score-class"
		"game-buttons"; 
}

.game-buttons {  
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"play-button-div pause-button-div restart-button-div";
	/* grid-area: game-buttons; */
	/* cursor: pointer; */
}

.reverse-tilde {
	margin-left: auto;
  	margin-right: auto;
}

/******************************** Media Queries */

@media (max-width: 956px) {

	body {
        background-color: #b8eaeb;
    }

	.instructions-title, .instructions, .hide {
        display: none;
    }

	.container {  display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 4fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "right-column"
		  "brain";
	  }
	  
	.right-column {  display: grid;
		grid-template-columns: 1.6fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "timer-name counter-class score-word score-class"
		  "game-buttons game-buttons game-buttons game-buttons";
		grid-area: right-column;
		justify-items: center;

	}
	  
	.game-buttons {  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "play-button-div pause-button-div restart-button-div";
		grid-area: game-buttons;
	  }
	  
	  .play-button-div { grid-area: play-button-div; }
	  
	  .pause-button-div { grid-area: pause-button-div; }
	  
	  .restart-button-div { grid-area: restart-button-div; }
	  

	  /* https://stackoverflow.com/questions/7693224/how-do-i-right-align-div-elements */
	  .timer-name { 
		grid-area: timer-name; 
		margin-left: auto; 
		margin-right: 0;
		white-space: nowrap;
	}
	  
	  .counter-class { 
		grid-area: counter-class;
		margin-left: 20; 
		margin-right: auto;
	}
	  
	  .score-word { 
		grid-area: score-word;
		margin-left: auto; 
		margin-right: 0;
		white-space: nowrap;
	}
	  
	  .score-class { 
		grid-area: score-class; 
		margin-left: 20; 
		margin-right: auto;
	}
	  
	  .brain {  
		
		background-image: url("../images/brain.webp");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: grid;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr 1fr; 
		gap: 0px 0px; 
		grid-template-areas: 
			". . ."
			". worm-box ."
			". . ."; 
		grid-area: brain;
	  }
	  
	  .worm-box {  display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  ". fear ."
		  "shame . shyness"
		  ". embarrassment ."
		  "anxiety . dread";
		grid-area: worm-box;
	  }
	  
	  .fear { grid-area: fear; }
	  
	  .shame { grid-area: shame; }
	  
	  .shyness { grid-area: shyness; }
	  
	  .embarrassment { grid-area: embarrassment; }
	  
	  .anxiety { grid-area: anxiety; }
	  
	  .dread { grid-area: dread; }
	  

}



