/******************************** Font  */

@import url(https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Eater);

h1 {
	font-family: Eater;
}

p {
	font-family: "East Sea Dokdo";
	font-size: 37px;
	margin: 10px 10px;
}

#overlay-play-button {
	font-family: Eater;
}

/********************************  */

body {
	background-color: #E2DEE5;
	text-align: center;
}

button {
	transition-property: background-color;
  	transition-duration: 750ms;
}

button:hover {
	background-color: #b2e7e9;
}

/******************************** Left Column Grid */

.title { 
	grid-area: title; 
}

.instructions { 
	grid-area: instructions; 
}

.play-button-div { 
	grid-area: play-button-div; 
	margin: 10px 5px;
}

.pause-button-div { 
	grid-area: pause-button-div; 
	margin: 10px 5px;
}

.restart-button-div { 
	grid-area: restart-button-div; 
	margin: 10px 5px;
}

/******************************** Central Grid layout  */

.container { 
	height: 96vh;
	width: 98vw;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"title brain leaderboard"
		"instructions brain leaderboard"
		"game-buttons brain leaderboard";
}

.brain-image {
	z-index: -5;
}

.brain {  
	background-image: url("../images/brain.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: grid; 
	grid-template-columns: 1fr 1.5fr 1fr; 
	grid-template-rows: 1.25fr 2.5fr 1.75fr; 
	gap: 0px 0px; 
	grid-template-areas: 
		". . ."
		". worm-box ."
		". . ."; 
	grid-area: brain;
}

.worm-box {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". fear ."
    "shame . shyness"
    ". embarrassment ."
    "anxiety . dread"; 
  grid-area: worm-box; 
  cursor: pointer;
}

.game-buttons {  
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"play-button-div pause-button-div restart-button-div";
	grid-area: game-buttons;
	/* cursor: pointer; */
}

/******************************** Worms  */

.fear { 
	grid-area: fear; 
	background-image: url("../images/fear-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 81px;
}

.shame { 
	grid-area: shame; 
	background-image: url("../images/shame-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 81px;
}

.shyness { 
	grid-area: shyness;
	background-image: url("../images/shy-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 81px;
}

.embarrassment { 
	grid-area: embarrassment;
	background-image: url("../images/embarrassed-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 81px;
}

.anxiety { 
	grid-area: anxiety;
	background-image: url("../images/anxious-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 81px;
}

.dread { 
	grid-area: dread; 
	background-image: url("../images/dread-worm.webp");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 81px;
}

/******************************** Overlays  */

.overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; 
	width: 50%; /* Full width (cover the whole page) */
	height: 50%; /* Full height (cover the whole page) */
	background-color: whitesmoke; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	border: 4px solid black;
}

#leaderboard-overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; 
	width: 50%; 
	height: 50%; 
	background-color: whitesmoke; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	border: 4px solid black;
}

.ok-button, #smash-button, #overlay-play-button, #leaderboard-button {
	background-color:  rgba(255, 255, 255, 0.5);
	transition-property: background-color;
  	transition-duration: 750ms;
}

.ok-button:hover, #smash-button:hover, #overlay-play-button:hover, #leaderboard-button:hover {
	background-color: #b2e7e9;
}

#pow {
	background-image: url("../images/pow.webp");
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed; /* Sit on top of the page content */
	display: none; 
	width: 25%; /* Full width (cover the whole page) */
	height: 25%; /* Full height (cover the whole page) */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

/******************************** Animation */

.slide {
	background-position-y: 81px;
	animation-name: slide;
	animation-duration: 2s;
	animation-iteration-count: 1;
	cursor: pointer;
  }

  @keyframes slide {
	0% {
	  background-position-y: 81px;
	}
	50% {
	  background-position-y: 0px;
	}
	100% {
	  background-position-y: 81px;
	}
  }

/******************************** Right column Grid */

.leaderboard { 
	grid-area: leaderboard; 
	height: 100%;
	width: 100%;
	/* margin-right: 20px; */
	/* margin-left: 10px; */
	/* margin-top: 10px;
	margin-bottom: 10px; */
}

/******************************** Media Queries */

@media (max-width: 1045px) {
	.container { 
		height: auto;
		/* grid-template-columns: minmax(0, 1fr) 300px; */
		grid-template-rows: 1fr; 
		grid-template-columns: 1fr;
		gap: 0px 0px;
		grid-auto-flow: column;
		grid-template-areas:
			"title"
			"instructions"
			"game-buttons"
			"brain"
			"brain"
			"brain"
			"leaderboard";
	}

	.brain {  
		background-image: url("../images/brain.webp");
		background-repeat: no-repeat;
		/* background-size: contain, auto; */
		height: 70vw;
		width: auto;
		background-position: center;
		display: grid; 
		/* grid-template-columns: minmax(0, 1fr) 300px; */
		gap: 0px 0px; 
		grid-template-areas: 
			". . ."
			". worm-box ."
			". . ."; 
		grid-area: brain;
	}

	.worm-box {
		/* grid-template-columns: minmax(0, 1fr) 300px; */
	}

	.game-buttons {  
		/* display: grid; */
		grid-template-columns: 3fr 1fr 3fr;
		/* grid-template-rows: 1fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			"play-button-div pause-button-div restart-button-div"
			"start-button-label pause-button-label restart-button-label";
		grid-area: game-buttons; */
	}

	.play-button-div {
		text-align: right;
	}

	.restart-button-div {
		text-align: left;
	}

}

@media (max-width: 500px) {
	body {
		background-color: #b8eaeb;
	}

	p {
		margin-top: 30px;
		margin-left: 10px;
		text-align: justify;
	}

	h1 {
		/* text-align: center; */
	}

	.leaderboard, .game-buttons {
		background-color:  rgba(255, 255, 255, 0.5);
		/* margin: auto; */
	}

	.title, .instructions, .hide {
		display: none;
	}
	 
	.container {  
		display: grid;
		background-image: url("../images/mobile-brain.webp");
		background-size: cover;
		background-position: bottom;
		height: 100vh;
		width: 100vw;
		background-repeat: no-repeat;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 6fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "game-buttons"
		  "leaderboard"
		  "brain"
		  ".";
	}
	  
	.game-buttons {  
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		width: 95vw;
		height: auto;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "play-button-div pause-button-div restart-button-div";
		grid-area: game-buttons;
	}
	  
	.play-button-div { 
		grid-area: play-button-div; 
	}
	  
	.pause-button-div { 
		grid-area: pause-button-div; 
	}
	  
	.restart-button-div { 
		grid-area: restart-button-div; 
	}
	  
	.leaderboard {  
		display: grid;
		width: 95vw;
		height: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "timer-name counter-class score-word score-class";
		grid-area: leaderboard;
	}
	  
	.timer-name { 
		grid-area: timer-name; 
	}
	  
	.counter-class { 
		grid-area: counter-class; 
	}
	  
	.score-word { 
		grid-area: score-word; 
	}
	  
	.score-class { 
		grid-area: score-class; 
	}
	  
	.brain {
		background-image: none;
		width: 95vw;
		height: auto;
		display: grid; 
		grid-template-columns: 1fr; 
		grid-template-rows: 1fr; 
		grid-template-areas: 
			"worm-box";
		grid-area: brain;
	}

	.worm-box {
		width: 95vw;
		height: auto;
	}	
}


